alembic
fastapi
fastapi-mail
Jinja2
nltk
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
python-jose[cryptography]
python-multipart
pyyaml
slowapi
soundfile
sqlalchemy
librosa
tqdm
torch==2.1.0
torchaudio==2.1.0
torchvision==0.16.0
transformers==4.37.2
uvicorn
requests
resend
coqui-tts