alembic
espnet
fastapi
fastapi-mail
Jinja2
matplotlib
nltk
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
python-jose[cryptography]
python-multipart
pyworld
pyyaml
slowapi
soundfile
sqlalchemy
librosa
tensorboard
tqdm
torch
torchaudio
transformers
uvicorn
requests
espnet_model_zoo
